/* src/index.css */
@font-face {
  font-family: 'MS Sans Serif';
  src: url('https://fonts.cdnfonts.com/s/15011/MS Sans Serif.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'MS Sans Serif', sans-serif;
  background-color: #008080; /* 그 시절 그 국방색(?) 배경 */
  overflow: hidden; /* 스크롤 방지 (바탕화면이니까요!) */
}